@{
    ViewData["Title"] = "Select Post Type";
}

<h2>Select What You Want to Share</h2>
<div>
    <a asp-action="CreatePoem" class="btn btn-outline-dark">Poem</a>
    <a asp-action="CreateStory" class="btn btn-outline-dark">Short Story</a>
    <a asp-action="CreatePhoto" class="btn btn-outline-dark">Photo Collection</a>
</div>
